.todo_list {
    padding: 20px;
    border-radius: 20px;

    &_block {
        display: flex;
        width: 50%;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 10px;

        :nth-child(3) {
            width: 7.5%;
            height: 100%;
            
        button {
            height: 100%;
            width: 100%;
            border: 0;
            cursor: pointer;
            background: linear-gradient(45deg,#5534cc, #883c91, #403468);
        }
        }

        :nth-child(4) {
            width: 7.5%;
            height: 100%;

            button {
                height: 100%;
                width: 100%;
                border: 0;
                background-color: #ff2e54;
                cursor: pointer;
                border-radius: 0 25px 25px 0;
            }

            img {
                position: relative;
                left: -2px;
                top: 1px;
            }
        }
    }

    button {
        &:hover {
            opacity: 0.9;
        }
    }

    &_block__text {
        width: 78%;
        height: 100%;
        background-color: #35373B;

        p {
            padding: 10px;
        }
    }

    &_block__id {
        width: 7%;
        height: 100%;
        background-color: #6300F1;
        border-radius: 25px 0 0 25px;
    }


    div {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }
}

p {
    color: #f6f6f6;
    overflow-wrap: anywhere;
}

.input {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    input {
        border: 0;
        outline: none;
        border-bottom: 1px solid black;
        padding: 10px;
        width: 250px;
        border-radius: 10px;
    }
    

    button {
        padding: 5px 40px;
        margin-left: 10px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        background-color: rgb(129, 33, 129);
        color: #F6F6F6;
    }
}

.noRes {
    text-align: center;
}



@media (max-width: 912px) {
    .todo_list_block {
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 414px) {
    .todo_list {
        padding: 10px;
    
        &_block {

            :nth-child(3) {
                width: 10%;
            }
    
            :nth-child(4) {
                width: 10%;
            }
        }
    
        &_block__text {
            width: 70%;
        }
    
        &_block__id {
            width: 11%;
        }
    }

}